<div class="center jumbotron">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">This is a Online Examination System</p>

  <div class="">
    <ul>
      <li>
        <%= link_to "Sign In", signin_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "Sign Up", user_index_path, class: "btn btn-primary btn-lg" %>
      </li>
    </ul>
  </div>
  <hr class="my-4">
</div>
