<div class="center jumbotron">
  <h1 class="display-4">Welcome</h1>
  <h1 class="display-4">Online Examination System</h1>

  <div class="">
    <ul>
      <li>
        <%= link_to "Admin", home_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "Examinee", signexaminee_path, class: "btn btn-primary btn-lg" %>
      </li>
    </ul>
  </div>
  <hr class="my-4">
</div>
