<h1>New Examinee</h1>

<% if @examinee.errors.any? %>
<h1>The follofing errors prevented the examinee form getting created</h1>
<ul>
  <% @examinee.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<%= form_for @examinee do |f| %>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName4">Name</label>
        <input type="text" class="form-control" id="inputName4" placeholder="Name">
      </div>
      <div class="form-group col-md-6">
        <label for="inputNumber4">Number</label>
        <input type="number" class="form-control" id="inputNumber4" placeholder="+91">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text_area" class="form-control" id="inputAddress" placeholder=" Main St.">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control">
          <option selected>Uttar Pradesh</option>
          <option>Rajasthan</option>
          <option>Bihaar</option>
          <option>Other</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
  </form>
<% end %>

<li>
  <%= render 'form', examinee: @examinee %>

  
</li>
