// Place all the styles related to the exams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
   font-family:'Gabriola', serif;
   text-align: center;
}
ul {
   list-style: none;
}
li {
   font-family:'Cambria', serif;
   font-size: 1.5em;
}
input[type=radio] {
   border: 0px;
   width: 20px;
   height: 2em;
}
p {
   font-family:'Gabriola', serif;
}
/* Quiz Classes */
.quizContainer {
   background-color: white;
   border-radius: 6px;
   width: 75%;
   margin: auto;
   padding-top: 5px;
   /*-moz-box-shadow: 10px 10px 5px #888;
   -webkit-box-shadow: 10px 10px 5px #888;
   box-shadow: 10px 10px 5px #888;*/
   position: relative;
}
.quizcontainer #quiz1
{
text-shadow:1px 1px 2px orange;
font-family:"Georgia", Arial, sans-serif;
}
.nextButton {
   box-shadow: 3px 3px 5px #888;
   border-radius: 6px;
  /* width: 150px;*/
   height: 40px;
   text-align: center;
   background-color: lightgrey;
   /*clear: both;*/
   color: red;
   font-family:'Gabriola', serif;
   position: relative;
   margin: auto;
 font-size:25px;
 font-weight:bold;
   padding-top: 5px;
 float:right;
 right:30%;
}

.preButton {
   box-shadow: 3px 3px 5px #888;
   border-radius: 6px;
   /*width: 150px;*/
   height: 40px;
   text-align: center;
   background-color: lightgrey;
   /*clear: both;*/
   color: red;
   font-family:'Gabriola', serif;
   position: relative;
   margin: auto;
 font-size:25px;
 font-weight:bold;
   padding-top: 5px;
 float:left;
 left:30%;
}

.question {
   font-family:'Century', serif;
   font-size: 1.5em;
 font-weight:bold;
   width: 100%;
   height: auto;
   margin: auto;
   border-radius: 6px;
   background-color: #f3dc45;
   text-align: center;
}
.quizMessage {
   background-color: peachpuff;
   border-radius: 6px;
   width: 20%;
   margin: auto;
   text-align: center;
   padding: 5px;
 font-size:20px;
 font-weight:bold;
   font-family:'Gabriola', serif;
   color: red;
 position:absolute;
 top:80%;
 left:40%;
}
.choiceList {
   font-family: 'Arial', serif;
   color: #ed12cd;
 font-size:15px;
 font-weight:bold;
}
.result {
   width: 40%;
   height: auto;
   border-radius: 6px;
   background-color: linen;
   margin: auto;
 color:green;
   text-align: center;
 font-size:25px;
   font-family:'Verdana', serif;
 font-weight:bold;
 position:absolute;
 top:80%;
 left:30%;
}
/* End of Quiz Classes */
